<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
            <span><h4>{{destino.nombre}}</h4></span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maxime dolorum eius hic odit? Saepe, fuga nam doloribus natus possimus dicta iste dolorum nobis, sit quisquam repellendus ipsam animi doloremque?</p>
        <a href="#"	class="btn-card">Read</a>			
    </div>
</div>